<div class="page-header">
	<img class="img-circle" <%= image_tag @user.gravatar_url %>
				</img>
	<h3><%= @user.full_name %></h3>
</div>

	<% if @statuses %>
		<% @statuses.each do |status| %>
		<% if status.publishes.length != 0 %>
			<div class="slide-unit">
				<%= link_to status.content, status_publishes_path(status) %>
				<hr />
				<small><%= time_ago_in_words(status.publishes.first.created_at) %> ago</small>
			</div>
			<br>
			<% end %>
		<% end %>
	<% end %>

