<div id = "new_image">
<%= form_for([@status,slide],:url=>status_slide_path(@status,slide), :method => :put, :html => {:multipart => true}) do |f| %>

<% if !slide.image? %>
<div class="fileupload fileupload-new" data-provides="fileupload">
  <span class="btn btn-file"><span class="fileupload-new">Add image</span><span class="fileupload-exists">Change</span>
  <%= f.file_field :image if !slide.image? %></span>
  <span class="fileupload-preview"></span>
  <a href="#" class="close fileupload-exists" data-dismiss="fileupload" style="float: none">×</a>
    <div class="fileupload-exists">
  <%= f.submit "Upload", class: "btn" if !slide.image? %>
	</div>
</div>
<% end %>
<% end %>
<p>
<%= link_to 'x', slide_delimg_path(slide), data: { confirm: "Are you sure you want to delete this image?"} if slide.image? %>
</P>


<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>
</script>
</div>