<%= form_for([@status, @status.slides.build], :html => {:multipart => true}) do |f| %>
  <div class="slide-field" >
    <%= f.text_field :content, maxlength: 200, placeholder: "New slide text...", :style=>"width:300px; margin-left:24%" %>
  </div>
<!--     <%= f.file_field :image, :style=>"margin-left:84px" %> -->
    <span class="countdown"></span>
    <% end %>  
