<%= simple_form_for(@status, html: {class: "form"}) do |f| %>
<h5>Title Slide</h5>
  <div class="field" >
<%= f.text_area :content, maxlength: 200, placeholder: "Title slide text..." %>
  </div>
  <%= f.submit "Create Slide", class: "btn btn-info" %>
    <span class="countdown"></span>
<% end %>