<%= form_for(@status, html: {class: "form"}) do |f| %>
  <div class="field" >
<%= f.text_field :content, maxlength: 200, placeholder: "Title of Presentation..." %>
  </div>
  <%= f.submit "Create", class: "btn btn-success" %>
  <span class="countdown"></span>
<% end %>